<%= form_with(model: bill_list, local: true) do |form| %>
  <% if bill_list.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(bill_list.errors.count, "error") %> prohibited this bill_list from being saved:</h5>

      <ul>
      <% bill_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <%= form.label :title %>
          <%= form.text_field :title, :class => 'validate' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= form.label :description %>
          <%= form.text_area :description, :class => 'materialize-textarea' %>
        </div>
      </div>
    </div>

    <br>
    <span style="float:right;">
      <%= form.submit 'Submit', :class => 'btn waves-effect waves-light' %>
    </span>
    <br>
  </div>
<% end %>
