<div class="container">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><%= @bill_list.title %></h1>
        <div class="row center">
          <h5 class="header col s12 light"><%= @bill_list.description %></h5>
        </div>
        <div class="row center">
          <a href="/calculate/<%= @bill_list.id %>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Split The Bills Now!</a>
        </div>
        <br><br>

      </div>
    </div>
  </div>

  <div id="bill_items_wrapper">
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Paid Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @bill_list.bill_items %>
      </tbody>
    </table>

    <br><br>
    <span style="float:right;">
      <a href="/calculate/<%= @bill_list.id %>" class="btn waves-effect waves-light" name="action">Calculate Bills!
        <i class="material-icons right">send</i>
      </a>
    </span>

    <br><br>
    <div id="form">
      <h5>Add User to The Bill</h5><br>
      <%= render "bill_items/form" %>
    </div>
  </div>
</div>