<!DOCTYPE html>
<html>
  <head>
    <title>SplitYourBills</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-content" style="padding-left:20px; padding-right:20px;">
        <a href="/" class="nav-title">Go-Split Your Bills!</a>
        <a href="<%= new_bill_list_path %>" class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
          <i class="material-icons">add</i>
        </a>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Go-Split-Bills</h5>
            <p class="grey-text text-lighten-4">Split Your Bills!</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Reference</h5>
            <ul>
              <li><a class="grey-text text-lighten-4 right" href="https://www.tutorialspoint.com/ruby">Tutorialspoint</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright Text
        <a class="grey-text text-lighten-4 right" href="https://ruby-doc.org">Ruby Docs</a>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js' %>
  </body>
</html>
